.exam__result__container {
    width: 100%;
    background-image: url('../../../../src/images/secondary_background.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
    z-index: 10;
}

.overlay {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    pointer-events: none;
    z-index: -1;
}

.exam__result {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
    z-index: 20;
    color: #fff;
}

.top__page {
    display: flex;
    flex-direction: column;
    color: var(--light-color);
}

.top__page p:first-of-type {
    position: relative;
}


.exam__result .exam__time {
    display: flex;
    flex-direction: column;
    margin-top: 35px;
}

.exam__result .exam__time .time {
    display: flex;
    justify-content: flex-end;
}

.exam__result .exam__time .line input {
    width: 100%;
    height: 10px;
    outline: none;
    border: none;
    appearance: none;
    background: linear-gradient(to right,
            var(--main-color) 0%,
            var(--main-color) 97%,
            gray 97%,
            gray 100%);
    border-radius: 5px;
}

.exam__result .exam__time .line input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 0;
    height: 0;
}

.exam__result .exam__time .line input[type="range"]::-moz-range-thumb {
    width: 0;
    height: 0;
}

.exam__result .exam__time .line input[type="range"]::-ms-thumb {
    width: 0;
    height: 0;
}

.exam__result .result__details {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    margin-top: 45px;
    background: rgba(0, 0, 0, 0.4);
    padding: 15px;
}

.exam__result .result__details .result__details__header {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 25px;
    margin-bottom: 50px;
    flex-direction: column;
    gap: 20px;
}


.result__details__info {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 25px;
}

.result__details__info .info {
    display: flex;
    justify-content: space-between;
    font-weight: bold;
}

@media (max-width:800px) {
    .exam__result .exam__review__header {
        flex-wrap: wrap;
        gap: 20px;
    }

    .exam__review__header .right__header {
        flex-basis: 100%;
    }
}